* {
	margin:0px;
	padding:0px;
}
.cleaner {
	clear:both;
}
body{background-color: #e7e7e7;
	font-family: 'Titillium Web', sans-serif;
}
header{
	width:100%;
	background-color: #82bbe8;
}
.centering{
	width: 85%;
	margin: 0px auto;
}

#logo-ime{
	float: left;
	font-family: 'Titillium Web', sans-serif;
	text-transform: uppercase;
	text-align:center;
	padding-top:2%;
	width:15%;
	font-size:113%;
}
#logo-ime h1{
	color:#000000;
}
#logo-ime span{
	color:#e0d019;
}
#logo{
	width:6%;
	height:6%;
	margin:1% auto;
	float:left;
}
#navigacija{
	float:right;
	margin:2.5% 0px;
	width:60%;
	padding:12px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
}
#navigacija ul{
	list-style-type: none;
	float: right;
}
#navigacija ul li{
padding-right: 40px;
display: inline;
font-size:130%;
}
#navigacija ul li a{
	color:#000000;
}
#navigacija ul li:last-child{
	padding-right:0px;
}
a{
	text-decoration:none;
}
#navigacija ul li:hover{
	text-decoration: underline;
}
#pocetni-blok{
	background-image: url(../img/champions-league.jpg);
	height: 700px;
	
	
}
.background-image{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: scroll;
	
}
#naslov{
	margin: 15px auto;
	text-align: center;
}
#naslov h1{
	color: #e0d019;
	font-size:426%;
	position: relative;
	text-shadow: 1px 1px #000000;
	font-family: 'Titillium Web', sans-serif;
	animation-name: naslov;
	animation-duration: 3s;
}
@keyframes naslov {
	from{top: -500px}
	to{top: 0px;}
}
#prvi{
	width:800px;
	margin:30px auto;
	text-align: center;
	display: flex;
    flex-direction: row;
	color: #e0d019;
	
}
#prvi article{
	background-color:#1e3d75;
	width:300px;
	margin:10px;
	height: 80px;
	font-family: 'Titillium Web', sans-serif;
	border-radius: 5px;
  
}
#prvi p{
	color:white;
	font-size: 18px;
}
#drugi{
	background-color: #1e3d75;
	position: relative;
	animation-name: animacija3;
	animation-duration: 3s;
}
@keyframes animacija3 {
	from{left: -400px}
	to{left: 0px;}
}
.blokovi-pozadina{
	width: 1200px;
	height: 700px;
	display: flex;
	justify-content:space-between;
	color: white;
	margin:100px auto;
	border-radius: 5px;
	font-family: 'Titillium Web', sans-serif;
	
}
.blokovi-pozadina article  h1{
	text-align: center;
	font-size: 220%;
	padding-top: 10px;
	color: #e0d019;
	text-shadow: 1px 1px #000000;
	text-transform: uppercase;
	margin-right: 30%;
	
}
.blokovi-pozadina article p{
	text-align: center;
	font-size: 130%;
	padding: 65px 20px 0px 20px;
	
}
a{
	text-decoration:none;
	
}
#wiew-club{
	font-size: 190%;
	text-align: center;
	margin:25%;
	font-family: 'Titillium Web', sans-serif;
	color: #e0d019;
	text-shadow: 1px 1px #000000;
}
#wiew-club:hover{
	text-decoration: underline;
}
#About-City{
	padding:30px 20px 20px 0px;
}
#treci{
	background-color: #1e3d75;
	position: relative;
	animation-name: animacija4;
	animation-duration: 3s;
}
@keyframes animacija4 {
	from{right:-400px}
	to{right: 0px;}
}
.blokovi-pozadina3{
	width: 1200px;
	height: 750px;
	display: flex;
	justify-content:space-between;
	color: white;
	margin:100px auto;
	border-radius: 5px;
	font-family: 'Titillium Web', sans-serif;
	
}
.blokovi-pozadina3 article h1{
	text-align: center;
	font-size: 220%;
	padding-top: 20px;
	color: #e0d019;
	text-shadow: 1px 1px #000000;
	
}
.blokovi-pozadina3 article p{
	text-align:center;
	font-size: 100%;
	padding: 3px 5px;
}

a{
	text-decoration:none;
	color:#000000;
}
#Yaya{
	padding-top: 30px;
}
#Silva{
	padding-top:104px ;
	padding-left: 20px;
}
#Aguero{
	padding-top:104px ;
	padding-right: 25px;
}
.blokovi-pozadina3 article .dm{
	margin-bottom: 25px;
}
#see-players{
	font-size: 140%;
	text-align: center;
	margin:120px;
	font-family: 'Titillium Web', sans-serif;
	color: #e0d019;
	text-shadow: 1px 1px #000000;
	transition: 0.5s;
	border-radius: 6px;
	padding-top:1%;
	
	
}
#see-players:hover{
	 text-decoration: underline;
}
#cetvrti{
	position: relative;
}
#cetvrti article h1{
	position: absolute;
	top: 2%;
	font-size: 330%;
	left: 32%;
	font-weight: bold;
	color: #e0d019;
}
#join-us{
	position: absolute;
	top:20%;
	font-size: 250%;
	text-decoration: underline;
	right:44%;
	color:#e0d019 ;
	transition: 0.5s;
	border-radius: 9px;
	padding: 1%;
}
#join-us:hover{
	transform: scale(1.3);
}
footer{
 background-color:black ;
}
.container{
	display: flex;
	justify-content:space-around;
	padding: 30px 0px 30px 0px;
}
.lista{
	color:white;
	padding:1% 3%;
	font-family: 'Titillium Web', sans-serif;
}	
#condition1{
	padding-right: 5%;
	font-size: 120%;
	border-right: 2px solid #ffffff;
}
.lista ul{
	list-style-type: none;
}
.lista ul li:first-child{
	margin-top: 30px;
}
.lista ul li{
	margin:20px auto;
}
#condition1 ul li i{
	margin-right: 20px;
}
a{
	text-decoration: none;
	color: white;
}
#logo2{
	width:120%;
	height:90%;
	margin:1% 50%;
}
#conidion3{
	border-left: 2px solid white;
	padding-left: 5%;
	font-size: 120%;
}
#conidion3 ul li i{
	margin-left:10px;
}

/*    CLUB.HTML*/
#club-naslov{
	justify-content: center;
	margin: 35px auto;
}
#club-naslov h1{
	font-size: 400%;
	text-align: center;
	text-decoration: solid ;
	color:black;
}
hr{
	border:1px solid;
}
.dva-bloka{
	display: flex;
	justify-content: space-around;
	padding-top: 40px;
}
.textbox{
	background-color: #1e3d75;
	width: 400px;
	height:400px;
	border-radius:7px;
	padding: 1%;
}
.textbox p{
	font-size: 145%;
	text-align: center;
	padding: 10px 15px;
	margin-top: 30px;
	word-spacing: 2px;
	color: #e7e7e7;
}
.slika-efekat figcaption{
	text-align: center;
	font-size: 20px;
	background-color: #e7e7e7;
}
.slika-efekat img{
	border-radius: 3px;
	width: 100%;
	display: block;
}
.slika-efekat{
	margin: 0 10px;
	transition: all 1s;
	box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
	
}
.slika-efekat:hover{
	transform:scale(1.03);
}


/*  PLAYERS.HTML        */
.player-drzac{
	display: flex;
	align-items: start;
	padding: 30px;
	
}
.player-slika figcaption{
	text-align: center;
	font-size: 20px;
	background-color: #82bbe8;
	
	border: 1px solid;
}
.player-slika img{
	width: 100%;
	display: block;
}
.player-slika{
	margin: 0 20px;
	transition: all 1s;
	background-color: #1e3d75;
	border-radius: 3px;
	position: relative;
}
.player-slika:hover{
	transform:scale(1.03);
}
.dres-broj{
	position: absolute;
	top: 1%;
	left: 6%;
}
.dres-broj h2{
	color: #e7e7e7;
	font-size: 200%;
}
.nacionalnost{
	position: absolute;
	top:0%;
	right: 0%;
}

/*  ABOUTME.HTML   */
#A-title{
	text-align: center;
	margin: 40px auto;
	position: relative;
	animation-name: animacija1;
	animation-duration: 1s;
}
@keyframes animacija1 {
	from{top: -400px}
	to{top: 0px;}
}
#author{
	background-color:#1e3d75;
	color: white;
	display: flex;
	justify-content:flex-start ;
	border-radius : 7px ;
	height:400px;
	margin: 50px auto;
	position:relative;
	animation-name:animacija2;
	animation-duration:1.5s;
}
@keyframes animacija2 {
	from{bottom:-700px}
	to{bottom: 0px;}
}
#author article p{
	text-align: justify;
	margin:70px 30px;
	font-size: 140%;
	word-spacing: 3px;
}
#login{
	margin:70px auto;
}
#login h1{
	text-align: center;
	position: relative;
	font-size: 280%;
	animation-name: animacija1;
	animation-duration: 1s;
}
form{
	position: relative;
	background-color: #1e3d75;
	border-radius: 7px;
	height: 700px;
	color: white;
	margin: 50px auto;
	animation-name:animacija2;
	animation-duration:1.5s;
}
#form-drzac{
	width: 100%;
}
#form-drzac1{
	float: left;
}
.form-drzac0{
	text-align: center;
	margin-top: 3%;
	width: 50%;
	margin-bottom: 3%;
}
label{
	font-size:200% ;
}
#male,#female{
   width: 7%;
   height: 20px;
   margin-bottom:20px ;
   
}
input{
	width: 50%;
	height: 30px;
	padding-left: 2%;
	margin-top: 20px;
}
textarea{
	margin-top: 10px;
}

#form-drzac2{
	float: right;
}
#form-drzac3{
	text-align: center;
	width: 40%;
	position: absolute;
	bottom: 4%;
	left:30%;
}
#contact{
	display: flex;
	justify-content: flex-start;
	background-color: #1e3d75;
	margin: 50px auto;
	height: 400px;
	color: white;
	position: relative;
	animation-name:animacija2;
	animation-duration:1.5s;
}
iframe{
	width: 600px;
	height: 400px;
}
#contact article p{
	text-align: center;
	font-size: 130%;
	margin: 20px auto;
}
#contact article h2{
	text-align: center;
	margin: 25px 70px;
	font-size: 200%;
}




